# System files
.DS_Store
Thumbs.db
*.swp
*.log

# IDE files
.idea/

# App files
node_modules
*.map
\.vs/ProjectSettings\.json

\.vs/react-basics/v15/\.suo

\.vs/slnx\.sqlite

\.vs/VSWorkspaceState\.json

build/
